In [2]:
import pandas
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.feature_extraction import DictVectorizer
from scipy.sparse import hstack
from sklearn.linear_model import Ridge

data_train = pandas.read_csv('salary-train.csv')
data_test = pandas.read_csv('salary-test-mini.csv')
y = data_train['']

data_train['FullDescription'] = data_train['FullDescription'].str.lower()
data_train['LocationNormalized'] = data_train['LocationNormalized'].str.lower()

data_train['FullDescription'] = data_train['FullDescription'].replace('[^a-zA-Z0-9]', ' ', regex=True)
data_train['LocationNormalized'].fillna('nan', inplace=True)
data_train['ContractTime'].fillna('nan', inplace=True)

vectorizer = TfidfVectorizer(min_df=5)
X_tfid_train = vectorizer.fit_transform(data_train['FullDescription'])
X_tfid_test = vectorizer.fit_transform(data_test['FullDescription'])

enc = DictVectorizer()
X_train_categ = enc.fit_transform(data_train[['LocationNormalized', 'ContractTime']].to_dict('records'))
X_test_categ = enc.transform(data_test[['LocationNormalized', 'ContractTime']].to_dict('records'))

contcatenate_train_data = hstack((X_tfid_train, X_train_categ))
contcatenate_test_data = hstack((X_tfid_test, X_test_categ))

ridge = Ridge(alpha=1, random_state=241)

KeyError: ''

<60000x22861 sparse matrix of type '<class 'numpy.float64'>'
	with 8365759 stored elements in Compressed Sparse Row format>

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>FullDescription</th>
      <th>LocationNormalized</th>
      <th>ContractTime</th>
      <th>SalaryNormalized</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>international sales manager london     k      ...</td>
      <td>london</td>
      <td>permanent</td>
      <td>33000</td>
    </tr>
    <tr>
      <th>1</th>
      <td>an ideal opportunity for an individual that ha...</td>
      <td>london</td>
      <td>permanent</td>
      <td>50000</td>
    </tr>
    <tr>
      <th>2</th>
      <td>online content and brand manager   luxury reta...</td>
      <td>south east london</td>
      <td>permanent</td>
      <td>40000</td>
    </tr>
    <tr>
      <th>3</th>
      <td>a great local marketleader is seeking a perman...</td>
      <td>dereham</td>
      <td>permanent</td>
      <td>22500</td>
    </tr>
    <tr>
      <th>4</th>
      <td>registered nurse   rgn  nursing home for young...</td>
      <td>sutton coldfield</td>
      <td>nan</td>
      <td>20355</td>
    </tr>
    <tr>
      <th>5</th>
      <td>sales and marketing assistant will provide adm...</td>
      <td>crawley</td>
      <td>nan</td>
      <td>22500</td>
    </tr>
    <tr>
      <th>6</th>
      <td>vacancy ladieswear fashion area manager   regi...</td>
      <td>uk</td>
      <td>permanent</td>
      <td>32000</td>
    </tr>
    <tr>
      <th>7</th>
      <td>reference  lr jan      our client is one of th...</td>
      <td>bristol</td>
      <td>permanent</td>
      <td>30000</td>
    </tr>
    <tr>
      <th>8</th>
      <td>sponsorship manager london the company a marke...</td>
      <td>central london</td>
      <td>permanent</td>
      <td>31500</td>
    </tr>
    <tr>
      <th>9</th>
      <td>about barclays barclays moves  lends  invests ...</td>
      <td>south east london</td>
      <td>permanent</td>
      <td>42499</td>
    </tr>
    <tr>
      <th>10</th>
      <td>counter sales person c    k dependent on exper...</td>
      <td>banchory</td>
      <td>contract</td>
      <td>16000</td>
    </tr>
    <tr>
      <th>11</th>
      <td>central london  competitive salary  bonus   be...</td>
      <td>gipsy hill</td>
      <td>permanent</td>
      <td>47500</td>
    </tr>
    <tr>
      <th>12</th>
      <td>we are recruiting for a dynamic organisation b...</td>
      <td>wakefield</td>
      <td>permanent</td>
      <td>20000</td>
    </tr>
    <tr>
      <th>13</th>
      <td>composite design engineer required for a perma...</td>
      <td>abingdon</td>
      <td>permanent</td>
      <td>34000</td>
    </tr>
    <tr>
      <th>14</th>
      <td>working managing a team to maintain the home b...</td>
      <td>northampton</td>
      <td>nan</td>
      <td>15360</td>
    </tr>
    <tr>
      <th>15</th>
      <td>hcl nursing are actively recruiting skilled re...</td>
      <td>bradford</td>
      <td>permanent</td>
      <td>39811</td>
    </tr>
    <tr>
      <th>16</th>
      <td>hgv   commercial vehicle  customer service adv...</td>
      <td>northamptonshire</td>
      <td>contract</td>
      <td>23000</td>
    </tr>
    <tr>
      <th>17</th>
      <td>break into banking   net developer  c agile wi...</td>
      <td>london</td>
      <td>permanent</td>
      <td>47500</td>
    </tr>
    <tr>
      <th>18</th>
      <td>registered nurse  rgn  is required to work wit...</td>
      <td>tiverton</td>
      <td>nan</td>
      <td>24500</td>
    </tr>
    <tr>
      <th>19</th>
      <td>can you drive effective analytical solutions f...</td>
      <td>uxbridge</td>
      <td>nan</td>
      <td>32000</td>
    </tr>
    <tr>
      <th>20</th>
      <td>nbsp  my client is an small  but high profile ...</td>
      <td>london</td>
      <td>permanent</td>
      <td>45000</td>
    </tr>
    <tr>
      <th>21</th>
      <td>specialist clinical negligence practice based ...</td>
      <td>lancashire</td>
      <td>permanent</td>
      <td>20000</td>
    </tr>
    <tr>
      <th>22</th>
      <td>job description    answer contacts promptly an...</td>
      <td>uk</td>
      <td>permanent</td>
      <td>21000</td>
    </tr>
    <tr>
      <th>23</th>
      <td>year      teacher role servoca education is cu...</td>
      <td>surrey</td>
      <td>contract</td>
      <td>34800</td>
    </tr>
    <tr>
      <th>24</th>
      <td>registered general nurses  rgn  bournemouth fo...</td>
      <td>bournemouth</td>
      <td>nan</td>
      <td>24500</td>
    </tr>
    <tr>
      <th>25</th>
      <td>salary      k      k pa plus benefits location...</td>
      <td>leeds</td>
      <td>permanent</td>
      <td>25000</td>
    </tr>
    <tr>
      <th>26</th>
      <td>a reputable and fast growing asbestos company ...</td>
      <td>south yorkshire</td>
      <td>permanent</td>
      <td>28000</td>
    </tr>
    <tr>
      <th>27</th>
      <td>senior business travel executive salary      k...</td>
      <td>essex</td>
      <td>permanent</td>
      <td>27500</td>
    </tr>
    <tr>
      <th>28</th>
      <td>our client is one of the leading digital sales...</td>
      <td>london</td>
      <td>permanent</td>
      <td>18000</td>
    </tr>
    <tr>
      <th>29</th>
      <td>capita is a ftse100 listed company and run eme...</td>
      <td>uk</td>
      <td>permanent</td>
      <td>40000</td>
    </tr>
    <tr>
      <th>...</th>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
    </tr>
    <tr>
      <th>59970</th>
      <td>freelance estimator role  holding post        ...</td>
      <td>nottinghamshire</td>
      <td>permanent</td>
      <td>42500</td>
    </tr>
    <tr>
      <th>59971</th>
      <td>development worker salary             per annu...</td>
      <td>west london</td>
      <td>permanent</td>
      <td>20000</td>
    </tr>
    <tr>
      <th>59972</th>
      <td>vehicle purchaser   car sales chesterfield    ...</td>
      <td>chesterfield</td>
      <td>permanent</td>
      <td>23750</td>
    </tr>
    <tr>
      <th>59973</th>
      <td>this is your chance to join a dynamic ftse 100...</td>
      <td>uk</td>
      <td>permanent</td>
      <td>30500</td>
    </tr>
    <tr>
      <th>59974</th>
      <td>we are looking for a passionate chef de partie...</td>
      <td>south east london</td>
      <td>nan</td>
      <td>20500</td>
    </tr>
    <tr>
      <th>59975</th>
      <td>children youth and family services team manage...</td>
      <td>london</td>
      <td>permanent</td>
      <td>27682</td>
    </tr>
    <tr>
      <th>59976</th>
      <td>experienced retail merchandisers required  pre...</td>
      <td>oxford</td>
      <td>nan</td>
      <td>12960</td>
    </tr>
    <tr>
      <th>59977</th>
      <td>a rare and exciting opportunity has arisen to ...</td>
      <td>dorset</td>
      <td>permanent</td>
      <td>50000</td>
    </tr>
    <tr>
      <th>59978</th>
      <td>you will be responsible for the delivery and c...</td>
      <td>uk</td>
      <td>permanent</td>
      <td>22000</td>
    </tr>
    <tr>
      <th>59979</th>
      <td>automotive  motor trade job  service advisor r...</td>
      <td>leeds</td>
      <td>nan</td>
      <td>19500</td>
    </tr>
    <tr>
      <th>59980</th>
      <td>a service in norfolk are looking for a qualifi...</td>
      <td>king's lynn</td>
      <td>nan</td>
      <td>32640</td>
    </tr>
    <tr>
      <th>59981</th>
      <td>software quality engineer  tickit  cmmi  aqap ...</td>
      <td>bedfordshire</td>
      <td>permanent</td>
      <td>45000</td>
    </tr>
    <tr>
      <th>59982</th>
      <td>job description our client is a london based i...</td>
      <td>london</td>
      <td>permanent</td>
      <td>68750</td>
    </tr>
    <tr>
      <th>59983</th>
      <td>hays education has recently experienced an inc...</td>
      <td>weston-super-mare</td>
      <td>permanent</td>
      <td>18720</td>
    </tr>
    <tr>
      <th>59984</th>
      <td>internet security software engineer cambridge ...</td>
      <td>cambridge</td>
      <td>permanent</td>
      <td>50000</td>
    </tr>
    <tr>
      <th>59985</th>
      <td>front end web designer   front end web develop...</td>
      <td>preston</td>
      <td>nan</td>
      <td>20000</td>
    </tr>
    <tr>
      <th>59986</th>
      <td>our client  a large nhs foundation trust  is s...</td>
      <td>basingstoke</td>
      <td>contract</td>
      <td>54000</td>
    </tr>
    <tr>
      <th>59987</th>
      <td>salary   pound      nbsp pound       year loca...</td>
      <td>southampton</td>
      <td>permanent</td>
      <td>28000</td>
    </tr>
    <tr>
      <th>59988</th>
      <td>the position  sous chef  pastry the candidate ...</td>
      <td>cheshire</td>
      <td>nan</td>
      <td>21000</td>
    </tr>
    <tr>
      <th>59989</th>
      <td>electrical design engineer required for a cons...</td>
      <td>leeds</td>
      <td>permanent</td>
      <td>30000</td>
    </tr>
    <tr>
      <th>59990</th>
      <td>project manager  defence   electronics a great...</td>
      <td>andover</td>
      <td>permanent</td>
      <td>42000</td>
    </tr>
    <tr>
      <th>59991</th>
      <td>our client is a growing sme client based in we...</td>
      <td>west sussex</td>
      <td>permanent</td>
      <td>37000</td>
    </tr>
    <tr>
      <th>59992</th>
      <td>data analyst canary wharf  london 69 month con...</td>
      <td>london</td>
      <td>contract</td>
      <td>25920</td>
    </tr>
    <tr>
      <th>59993</th>
      <td>bmsl require labourer with enhanced prison cle...</td>
      <td>london</td>
      <td>nan</td>
      <td>13440</td>
    </tr>
    <tr>
      <th>59994</th>
      <td>longhurst havelok homes limited registered res...</td>
      <td>grimsby</td>
      <td>nan</td>
      <td>12585</td>
    </tr>
    <tr>
      <th>59995</th>
      <td>as a result of continued growth  first class s...</td>
      <td>whitley bay</td>
      <td>contract</td>
      <td>26400</td>
    </tr>
    <tr>
      <th>59996</th>
      <td>php   mvc web developer  macclesfieldcirca    ...</td>
      <td>macclesfield</td>
      <td>permanent</td>
      <td>26000</td>
    </tr>
    <tr>
      <th>59997</th>
      <td>staff nurse  nursing home  baldock white recru...</td>
      <td>baldock</td>
      <td>nan</td>
      <td>24500</td>
    </tr>
    <tr>
      <th>59998</th>
      <td>this is one of the best agency side opportunit...</td>
      <td>the city</td>
      <td>permanent</td>
      <td>65000</td>
    </tr>
    <tr>
      <th>59999</th>
      <td>must have cscs card must have asbestos awarene...</td>
      <td>london</td>
      <td>nan</td>
      <td>23040</td>
    </tr>
  </tbody>
</table>
<p>60000 rows × 4 columns</p>
</div>

<60000x1766 sparse matrix of type '<class 'numpy.float64'>'
	with 120000 stored elements in Compressed Sparse Row format>